
<!doctype html>

<html>
<head>
    <title>My page</title>
</head>
<body>
<form method="get">
    <input type="text" name="queryText" placeholder="Enter #search text"></input>
    <button type="submit">Search</button>
</form>
<form>
    <a href="\templates/page two.mustache">Go to testPage</a>
</form >
<div>Result of search:</div>
{{#tweets}}
<div>
    <b>{{id}}</b>
    <span>{{tweets}}</span>
    <i>{{text}}</i>
</div>
{{/tweets}}
</body>
</html>