<html>
<head>
    <title>results of search</title>
</head>
<body>
{{#tweets}}

<div>RESULT OF SEARCH:</div>
    <!--<form method="get" name="main">-->
<div>
    <b>{{id}}</b>
    <span>{{name}}</span>
    <i>{{text}}</i>
</div>
    <!--</form>-->
{{/tweets}}
</body>

</html>